.Body {
    display: flex;
    flex-direction: column;
}

.Week {
    display: flex;
}

.Week__header {
    border-bottom: 2px solid rgba(0,0,0,.15);
    font-weight: bold;
}

.Week__header .Day {
    cursor: default;
}

.Week {
    border-top: 1px solid rgba(0,0,0,.15);
}

.Week:not(.Week__header) .Day:hover {
    background-color: rgba(0,0,0,.1);
}

.Day {
    flex: 1;
    padding: 13px 8px;
    border-left: 1px solid rgba(0,0,0,.15);
    cursor: pointer;
}

.Day:first-child {
    border-left: none;
}