.App {
  text-align: center;
  max-width: 350px;
  border: 5px solid #fff;
  box-shadow: 5px 5px 15px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.15) inset;
  margin: 3em auto;
  background-color: #fff;
}

.App-header {
  margin-bottom: 1.5em;
}